@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 14px;
    color: #4f4f4f;
    @apply leading-6;
    @apply antialiased;
    @apply pt-0;
  }

  html,
  body,
  #__next {
    height: 100%;
  }

  a {
    color: #4a84b2;
  }

  input.form-input,
  textarea.form-input {
    @apply w-full;
    @apply mt-1;
    @apply block;
    @apply rounded-md;
    @apply border-gray-200;
    @apply shadow-sm;
    @apply focus:border-indigo-300;
    @apply focus:ring;
    @apply focus:ring-indigo-200;
    @apply focus:ring-opacity-50;
    @apply text-sm;
    @apply font-normal;
  }

  input.basic-input,
  textarea.basic-input {
    @apply w-full;
    @apply mt-1;
    @apply block;
    @apply rounded-md;
    @apply border-gray-200;
    @apply focus:border-indigo-200;
    @apply shadow-sm;
    @apply text-sm;
    @apply font-normal;
    box-shadow: none !important;
  }

  [type="checkbox"]:focus:not(:focus-visible),
  [type="radio"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type="checkbox"]:focus-visible,
  [type="radio"]:focus-visible {
    @apply ring-2 ring-offset-2;
  }
}

svg.icon {
  width: 1em;
  height: 1em;
  @apply fill-current;
  @apply inline;
}

/*NProgress bar*/
#nprogress {
  z-index: 100000;
  position: absolute;
}

#nprogress .spinner {
  top: 5px !important;
  right: 5px !important;
  @apply !block sm:!hidden;
}
